[Unit]
Description=Serviço de Primeiro Boot
ConditionPathExists=/opt/firstboot.d
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firstboot-manager.sh
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target